.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    width: 100px;
    height: 100px;
    background-color:red;
    border: 1px solid red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius:50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 1s;
}

.ex-4-square:hover {
    width: 100px;
    height: 100px;
    background: transparent;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 2s;
}

.ex-5-square:hover {
    transform: scale(2);
    background: red;
}

.ex-5-square:active {
    transform: scale(0.5);
    background: red;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover{
    filter: grayscale(0.6);
    filter: sepia(0.6);
}

.ex-8-img {
    transition: filter 2s,border-radius 2s;
}

.ex-8-img:hover {
    border-radius: 5%;
    filter: grayscale(0.8);
    filter: sepia(0.8);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 2s,border-radius 2s,transform 2s;
}

.ex-9-img:hover {
    border-radius: 5%;
    filter: grayscale(0.8);
    filter: sepia(0.8);
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

@keyframes rotate1{
    0%{ transform: rotate(0deg); }
    50% { transform: rotate(290deg); }
    100% { transform: rotate(0deg); }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: rotate1;
    animation-duration: 2s;
    animation-timing-function: linear;   
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;

}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/*Esercizio 12*/

.ex-12-button:hover .ex-12-top-white {
    animation: top 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom 2s linear;
}

@keyframes top {
    0% {
         top:-10%;
         left: 10%;
    }
    30% {
        top:-10%;
        left: 25%;
    }
      70% {
        top:-10%;
        left: 69%;
    }   
  }

  @keyframes bottom{
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: 50%;
      }
      70% {
        bottom: -10px;
        right: 69%;
      }   
  }

/*Esercizio 12*/

.ex-13-button:hover .ex-13-top-white {
    animation: top1 3s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom1 3s linear;
}

@keyframes top1{
    0% {
         top:-10px;
         left: -30%;
    }
    25% {
        top:-10px;
        left: 90%;
    }
      50% {
        top:calc(100% - 10px);
        left: 75%;
    }
    75% {
        top:calc(100% - 10px);
        left: 10%;
    }   
    100% {
        top:-10px;
        left: -30%;
    }     
  }

  @keyframes bottom1{
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}